## Data Preparation

In [3]:
# Importing Pandas, Numpy, liberaries & warnings
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import datetime

In [33]:
# Reading the data
Tel_churn =  pd.read_csv('telecom_churn_data.csv')

In [5]:
Tel_churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [6]:
# Understanding the Data

Tel_churn.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
 #    Column                    Dtype
---   ------                    -----
 0    mobile_number             int64
 1    circle_id                 int64
 2    loc_og_t2o_mou            float64
 3    std_og_t2o_mou            float64
 4    loc_ic_t2o_mou            float64
 5    last_date_of_month_6      object
 6    last_date_of_month_7      object
 7    last_date_of_month_8      object
 8    last_date_of_month_9      object
 9    arpu_6                    float64
 10   arpu_7                    float64
 11   arpu_8                    float64
 12   arpu_9                    float64
 13   onnet_mou_6               float64
 14   onnet_mou_7               float64
 15   onnet_mou_8               float64
 16   onnet_mou_9               float64
 17   offnet_mou_6              float64
 18   offnet_mou_7              float64
 19   offnet_mou_8              float64
 20   offnet_mou_9              float64
 21   roam_ic_mou_6             float64
 22   roam_ic_mou_7             float64
 23   roam_ic_mou_8             float64
 24   roam_ic_mou_9             float64
 25   roam_og_mou_6             float64
 26   roam_og_mou_7             float64
 27   roam_og_mou_8             float64
 28   roam_og_mou_9             float64
 29   loc_og_t2t_mou_6          float64
 30   loc_og_t2t_mou_7          float64
 31   loc_og_t2t_mou_8          float64
 32   loc_og_t2t_mou_9          float64
 33   loc_og_t2m_mou_6          float64
 34   loc_og_t2m_mou_7          float64
 35   loc_og_t2m_mou_8          float64
 36   loc_og_t2m_mou_9          float64
 37   loc_og_t2f_mou_6          float64
 38   loc_og_t2f_mou_7          float64
 39   loc_og_t2f_mou_8          float64
 40   loc_og_t2f_mou_9          float64
 41   loc_og_t2c_mou_6          float64
 42   loc_og_t2c_mou_7          float64
 43   loc_og_t2c_mou_8          float64
 44   loc_og_t2c_mou_9          float64
 45   loc_og_mou_6              float64
 46   loc_og_mou_7              float64
 47   loc_og_mou_8              float64
 48   loc_og_mou_9              float64
 49   std_og_t2t_mou_6          float64
 50   std_og_t2t_mou_7          float64
 51   std_og_t2t_mou_8          float64
 52   std_og_t2t_mou_9          float64
 53   std_og_t2m_mou_6          float64
 54   std_og_t2m_mou_7          float64
 55   std_og_t2m_mou_8          float64
 56   std_og_t2m_mou_9          float64
 57   std_og_t2f_mou_6          float64
 58   std_og_t2f_mou_7          float64
 59   std_og_t2f_mou_8          float64
 60   std_og_t2f_mou_9          float64
 61   std_og_t2c_mou_6          float64
 62   std_og_t2c_mou_7          float64
 63   std_og_t2c_mou_8          float64
 64   std_og_t2c_mou_9          float64
 65   std_og_mou_6              float64
 66   std_og_mou_7              float64
 67   std_og_mou_8              float64
 68   std_og_mou_9              float64
 69   isd_og_mou_6              float64
 70   isd_og_mou_7              float64
 71   isd_og_mou_8              float64
 72   isd_og_mou_9              float64
 73   spl_og_mou_6              float64
 74   spl_og_mou_7              float64
 75   spl_og_mou_8              float64
 76   spl_og_mou_9              float64
 77   og_others_6               float64
 78   og_others_7               float64
 79   og_others_8               float64
 80   og_others_9               float64
 81   total_og_mou_6            float64
 82   total_og_mou_7            float64
 83   total_og_mou_8            float64
 84   total_og_mou_9            float64
 85   loc_ic_t2t_mou_6          float64
 86   loc_ic_t2t_mou_7          float64
 87   loc_ic_t2t_mou_8          float64
 88   loc_ic_t2t_mou_9          float64
 89   loc_ic_t2m_mou_6          float64
 90   loc_ic_t2m_mou_7          float64
 91   loc_ic_t2m_mou_8          float64
 92   loc_ic_t2m_mou_9          float64
 93   loc_ic_t2f_mou_6          float64
 94   loc_ic_t2f_mou_7          float64
 95   loc_ic_t2f_mou_8          float64
 96   loc_ic_t2f_mou_9          float64
 97   loc_ic_mou_6              float64
 98   loc_ic_mou_7              float64
 99   loc_ic_mou_8              float64
 100  loc_ic_mou_9              float64
 101  std_ic_t2t_mou_6          float64
 102  std_ic_t2t_mou_7          float64
 103  std_ic_t2t_mou_8          float64
 104  std_ic_t2t_mou_9          float64
 105  std_ic_t2m_mou_6          float64
 106  std_ic_t2m_mou_7          float64
 107  std_ic_t2m_mou_8          float64
 108  std_ic_t2m_mou_9          float64
 109  std_ic_t2f_mou_6          float64
 110  std_ic_t2f_mou_7          float64
 111  std_ic_t2f_mou_8          float64
 112  std_ic_t2f_mou_9          float64
 113  std_ic_t2o_mou_6          float64
 114  std_ic_t2o_mou_7          float64
 115  std_ic_t2o_mou_8          float64
 116  std_ic_t2o_mou_9          float64
 117  std_ic_mou_6              float64
 118  std_ic_mou_7              float64
 119  std_ic_mou_8              float64
 120  std_ic_mou_9              float64
 121  total_ic_mou_6            float64
 122  total_ic_mou_7            float64
 123  total_ic_mou_8            float64
 124  total_ic_mou_9            float64
 125  spl_ic_mou_6              float64
 126  spl_ic_mou_7              float64
 127  spl_ic_mou_8              float64
 128  spl_ic_mou_9              float64
 129  isd_ic_mou_6              float64
 130  isd_ic_mou_7              float64
 131  isd_ic_mou_8              float64
 132  isd_ic_mou_9              float64
 133  ic_others_6               float64
 134  ic_others_7               float64
 135  ic_others_8               float64
 136  ic_others_9               float64
 137  total_rech_num_6          int64
 138  total_rech_num_7          int64
 139  total_rech_num_8          int64
 140  total_rech_num_9          int64
 141  total_rech_amt_6          int64
 142  total_rech_amt_7          int64
 143  total_rech_amt_8          int64
 144  total_rech_amt_9          int64
 145  max_rech_amt_6            int64
 146  max_rech_amt_7            int64
 147  max_rech_amt_8            int64
 148  max_rech_amt_9            int64
 149  date_of_last_rech_6       object
 150  date_of_last_rech_7       object
 151  date_of_last_rech_8       object
 152  date_of_last_rech_9       object
 153  last_day_rch_amt_6        int64
 154  last_day_rch_amt_7        int64
 155  last_day_rch_amt_8        int64
 156  last_day_rch_amt_9        int64
 157  date_of_last_rech_data_6  object
 158  date_of_last_rech_data_7  object
 159  date_of_last_rech_data_8  object
 160  date_of_last_rech_data_9  object
 161  total_rech_data_6         float64
 162  total_rech_data_7         float64
 163  total_rech_data_8         float64
 164  total_rech_data_9         float64
 165  max_rech_data_6           float64
 166  max_rech_data_7           float64
 167  max_rech_data_8           float64
 168  max_rech_data_9           float64
 169  count_rech_2g_6           float64
 170  count_rech_2g_7           float64
 171  count_rech_2g_8           float64
 172  count_rech_2g_9           float64
 173  count_rech_3g_6           float64
 174  count_rech_3g_7           float64
 175  count_rech_3g_8           float64
 176  count_rech_3g_9           float64
 177  av_rech_amt_data_6        float64
 178  av_rech_amt_data_7        float64
 179  av_rech_amt_data_8        float64
 180  av_rech_amt_data_9        float64
 181  vol_2g_mb_6               float64
 182  vol_2g_mb_7               float64
 183  vol_2g_mb_8               float64
 184  vol_2g_mb_9               float64
 185  vol_3g_mb_6               float64
 186  vol_3g_mb_7               float64
 187  vol_3g_mb_8               float64
 188  vol_3g_mb_9               float64
 189  arpu_3g_6                 float64
 190  arpu_3g_7                 float64
 191  arpu_3g_8                 float64
 192  arpu_3g_9                 float64
 193  arpu_2g_6                 float64
 194  arpu_2g_7                 float64
 195  arpu_2g_8                 float64
 196  arpu_2g_9                 float64
 197  night_pck_user_6          float64
 198  night_pck_user_7          float64
 199  night_pck_user_8          float64
 200  night_pck_user_9          float64
 201  monthly_2g_6              int64
 202  monthly_2g_7              int64
 203  monthly_2g_8              int64
 204  monthly_2g_9              int64
 205  sachet_2g_6               int64
 206  sachet_2g_7               int64
 207  sachet_2g_8               int64
 208  sachet_2g_9               int64
 209  monthly_3g_6              int64
 210  monthly_3g_7              int64
 211  monthly_3g_8              int64
 212  monthly_3g_9              int64
 213  sachet_3g_6               int64
 214  sachet_3g_7               int64
 215  sachet_3g_8               int64
 216  sachet_3g_9               int64
 217  fb_user_6                 float64
 218  fb_user_7                 float64
 219  fb_user_8                 float64
 220  fb_user_9                 float64
 221  aon                       int64
 222  aug_vbc_3g                float64
 223  jul_vbc_3g                float64
 224  jun_vbc_3g                float64
 225  sep_vbc_3g                float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [7]:
Tel_churn.shape

(99999, 226)

In [8]:
Tel_churn.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

In [9]:
Tel_churn.isnull().sum()

mobile_number        0
circle_id            0
loc_og_t2o_mou    1018
std_og_t2o_mou    1018
loc_ic_t2o_mou    1018
                  ...
aon                  0
aug_vbc_3g           0
jul_vbc_3g           0
jun_vbc_3g           0
sep_vbc_3g           0
Length: 226, dtype: int64

In [10]:
Tel_churn_categorical_features = Tel_churn.dtypes[Tel_churn.dtypes == 'object']
Tel_churn_categorical_features

last_date_of_month_6        object
last_date_of_month_7        object
last_date_of_month_8        object
last_date_of_month_9        object
date_of_last_rech_6         object
date_of_last_rech_7         object
date_of_last_rech_8         object
date_of_last_rech_9         object
date_of_last_rech_data_6    object
date_of_last_rech_data_7    object
date_of_last_rech_data_8    object
date_of_last_rech_data_9    object
dtype: object

In [11]:
Tel_churn_numerical_features = Tel_churn.dtypes[Tel_churn.dtypes != 'object']
Tel_churn_numerical_features

mobile_number       int64
circle_id           int64
loc_og_t2o_mou    float64
std_og_t2o_mou    float64
loc_ic_t2o_mou    float64
                   ...
aon                 int64
aug_vbc_3g        float64
jul_vbc_3g        float64
jun_vbc_3g        float64
sep_vbc_3g        float64
Length: 214, dtype: object

In [12]:
Churn_null=(Tel_churn.isnull().sum()/99999)[(Tel_churn.isnull().sum()/99999) > 0.3]
Churn_null

date_of_last_rech_data_6    0.748467
date_of_last_rech_data_7    0.744287
date_of_last_rech_data_8    0.736607
date_of_last_rech_data_9    0.740777
total_rech_data_6           0.748467
total_rech_data_7           0.744287
total_rech_data_8           0.736607
total_rech_data_9           0.740777
max_rech_data_6             0.748467
max_rech_data_7             0.744287
max_rech_data_8             0.736607
max_rech_data_9             0.740777
count_rech_2g_6             0.748467
count_rech_2g_7             0.744287
count_rech_2g_8             0.736607
count_rech_2g_9             0.740777
count_rech_3g_6             0.748467
count_rech_3g_7             0.744287
count_rech_3g_8             0.736607
count_rech_3g_9             0.740777
av_rech_amt_data_6          0.748467
av_rech_amt_data_7          0.744287
av_rech_amt_data_8          0.736607
av_rech_amt_data_9          0.740777
arpu_3g_6                   0.748467
arpu_3g_7                   0.744287
arpu_3g_8                   0.736607
arpu_3g_9                   0.740777
arpu_2g_6                   0.748467
arpu_2g_7                   0.744287
arpu_2g_8                   0.736607
arpu_2g_9                   0.740777
night_pck_user_6            0.748467
night_pck_user_7            0.744287
night_pck_user_8            0.736607
night_pck_user_9            0.740777
fb_user_6                   0.748467
fb_user_7                   0.744287
fb_user_8                   0.736607
fb_user_9                   0.740777
dtype: float64

In [34]:
Null_list = Churn_null.keys().tolist()
Null_list

['date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'date_of_last_rech_data_9',
 'total_rech_data_6',
 'total_rech_data_7',
 'total_rech_data_8',
 'total_rech_data_9',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'max_rech_data_9',
 'count_rech_2g_6',
 'count_rech_2g_7',
 'count_rech_2g_8',
 'count_rech_2g_9',
 'count_rech_3g_6',
 'count_rech_3g_7',
 'count_rech_3g_8',
 'count_rech_3g_9',
 'av_rech_amt_data_6',
 'av_rech_amt_data_7',
 'av_rech_amt_data_8',
 'av_rech_amt_data_9',
 'arpu_3g_6',
 'arpu_3g_7',
 'arpu_3g_8',
 'arpu_3g_9',
 'arpu_2g_6',
 'arpu_2g_7',
 'arpu_2g_8',
 'arpu_2g_9',
 'night_pck_user_6',
 'night_pck_user_7',
 'night_pck_user_8',
 'night_pck_user_9',
 'fb_user_6',
 'fb_user_7',
 'fb_user_8',
 'fb_user_9']

In [35]:
Tel_churn['total_rech_amt_goodphase'] = (Tel_churn.total_rech_amt_6 + Tel_churn.total_rech_amt_7)/2
Tel_churn['total_rech_amt_goodphase']

0        307.0
1        229.0
2        241.5
3        270.0
4        273.0
         ...
99994     85.0
99995    110.0
99996     59.5
99997    369.5
99998    355.0
Name: total_rech_amt_goodphase, Length: 99999, dtype: float64

In [15]:
Tel_churn.shape

(99999, 227)

### 1. Filter high-value customers

In [36]:
high_value_cstmr = Tel_churn.total_rech_amt_goodphase.quantile(0.7)
high_value_cstmr

368.5

In [38]:
def high_k(x):
    if x < 368.5:
        return 0
    else:
        return 1
    
Tel_churn['high_value_cstmr'] = Tel_churn['total_rech_amt_goodphase'].apply(high_k)

In [39]:
Tel_churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_goodphase,high_value_cstmr
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,307.0,0
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,229.0,0
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,241.5,0
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,270.0,0
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,273.0,0

In [40]:
Tel_churn.high_value_cstmr.value_counts()

0    69988
1    30011
Name: high_value_cstmr, dtype: int64

### 2. Tag churners and remove attributes of the churn phase

In [41]:
churned = (Tel_churn.total_ic_mou_9 == 0) & (Tel_churn.total_og_mou_9 == 0) & (Tel_churn.vol_2g_mb_9 ==0) & (Tel_churn.vol_3g_mb_9 ==0)
Tel_churn.loc[churned,'churner']=1

In [52]:
Tel_churn.churner.fillna(0, inplace = True)

In [53]:
100*Tel_churn.churner.sum()/len(Tel_churn)

10.19110191101911

In [54]:
Tel_churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_goodphase,high_value_cstmr,churner
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,197.385,214.816,...,0,0,968,30.4,0.0,101.20,3.58,307.0,0,1.0
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,34.047,355.074,...,0,0,1006,0.0,0.0,0.00,0.00,229.0,0,0.0
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,167.690,189.058,...,0,0,1103,0.0,0.0,4.17,0.00,241.5,0,0.0
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,221.338,251.102,...,0,0,2491,0.0,0.0,0.00,0.00,270.0,0,0.0
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,261.636,309.876,...,0,0,1526,0.0,0.0,0.00,0.00,273.0,0,0.0

In [55]:
churn_month_columns =  Tel_churn.columns[Tel_churn.columns.str.contains('_9')]

In [43]:
Col_drop = ['circle_id','last_date_of_month_6','last_date_of_month_7','last_date_of_month_8','date_of_last_rech_6', 'date_of_last_rech_7',
 'last_day_rch_amt_6','last_day_rch_amt_7','last_day_rch_amt_8','date_of_last_rech_8']

In [44]:
unique_list = list(set(Null_list).union(set(churn_month_columns)))
print(unique_list)

['count_rech_3g_7', 'night_pck_user_7', 'night_pck_user_9', 'night_pck_user_8', 'fb_user_7', 'arpu_2g_9', 'arpu_2g_7', 'std_og_t2m_mou_9', 'std_ic_t2t_mou_9', 'last_day_rch_amt_9', 'arpu_3g_8', 'vol_3g_mb_9', 'std_og_t2f_mou_9', 'max_rech_amt_9', 'arpu_3g_7', 'monthly_3g_9', 'std_ic_t2o_mou_9', 'max_rech_data_8', 'total_rech_amt_9', 'max_rech_data_7', 'loc_og_t2t_mou_9', 'count_rech_2g_7', 'date_of_last_rech_data_7', 'offnet_mou_9', 'arpu_9', 'total_rech_data_6', 'loc_og_t2f_mou_9', 'count_rech_3g_6', 'av_rech_amt_data_7', 'arpu_2g_8', 'ic_others_9', 'total_rech_data_9', 'count_rech_3g_8', 'loc_ic_t2m_mou_9', 'date_of_last_rech_data_8', 'vol_2g_mb_9', 'roam_og_mou_9', 'loc_ic_t2t_mou_9', 'loc_ic_mou_9', 'arpu_3g_9', 'max_rech_data_6', 'date_of_last_rech_data_9', 'arpu_2g_6', 'onnet_mou_9', 'isd_og_mou_9', 'count_rech_2g_9', 'total_ic_mou_9', 'fb_user_9', 'std_og_t2c_mou_9', 'std_ic_mou_9', 'av_rech_amt_data_8', 'fb_user_8', 'total_rech_data_7', 'av_rech_amt_data_9', 'count_rech_2g_8', 'loc_og_mou_9', 'total_rech_data_8', 'max_rech_data_9', 'fb_user_6', 'total_rech_num_9', 'loc_og_t2m_mou_9', 'isd_ic_mou_9', 'count_rech_3g_9', 'date_of_last_rech_9', 'loc_og_t2c_mou_9', 'sachet_2g_9', 'sachet_3g_9', 'date_of_last_rech_data_6', 'night_pck_user_6', 'total_og_mou_9', 'av_rech_amt_data_6', 'og_others_9', 'std_og_mou_9', 'monthly_2g_9', 'arpu_3g_6', 'std_og_t2t_mou_9', 'spl_og_mou_9', 'spl_ic_mou_9', 'std_ic_t2f_mou_9', 'roam_ic_mou_9', 'count_rech_2g_6', 'loc_ic_t2f_mou_9', 'last_date_of_month_9', 'std_ic_t2m_mou_9']

In [45]:
unique_list1 = list(set(unique_list).union(set(Col_drop)))
print(unique_list1)

['count_rech_3g_7', 'night_pck_user_7', 'fb_user_7', 'night_pck_user_8', 'night_pck_user_9', 'arpu_2g_9', 'arpu_2g_7', 'std_og_t2m_mou_9', 'std_ic_t2t_mou_9', 'last_day_rch_amt_9', 'arpu_3g_8', 'vol_3g_mb_9', 'last_date_of_month_6', 'std_og_t2f_mou_9', 'max_rech_amt_9', 'arpu_3g_7', 'monthly_3g_9', 'std_ic_t2o_mou_9', 'max_rech_data_8', 'total_rech_amt_9', 'max_rech_data_7', 'loc_og_t2t_mou_9', 'count_rech_2g_7', 'date_of_last_rech_data_7', 'offnet_mou_9', 'last_date_of_month_7', 'arpu_9', 'total_rech_data_6', 'loc_og_t2f_mou_9', 'count_rech_3g_6', 'av_rech_amt_data_7', 'ic_others_9', 'arpu_2g_8', 'total_rech_data_9', 'count_rech_3g_8', 'loc_ic_t2m_mou_9', 'date_of_last_rech_data_8', 'vol_2g_mb_9', 'roam_og_mou_9', 'loc_ic_t2t_mou_9', 'loc_ic_mou_9', 'arpu_3g_9', 'max_rech_data_6', 'date_of_last_rech_data_9', 'onnet_mou_9', 'arpu_2g_6', 'isd_og_mou_9', 'date_of_last_rech_8', 'date_of_last_rech_6', 'count_rech_2g_9', 'total_ic_mou_9', 'fb_user_9', 'std_og_t2c_mou_9', 'circle_id', 'std_ic_mou_9', 'av_rech_amt_data_8', 'fb_user_8', 'total_rech_data_7', 'av_rech_amt_data_9', 'loc_og_mou_9', 'count_rech_2g_8', 'total_rech_data_8', 'last_day_rch_amt_8', 'max_rech_data_9', 'total_rech_num_9', 'fb_user_6', 'loc_og_t2m_mou_9', 'isd_ic_mou_9', 'count_rech_3g_9', 'date_of_last_rech_9', 'last_date_of_month_8', 'loc_og_t2c_mou_9', 'sachet_2g_9', 'sachet_3g_9', 'date_of_last_rech_data_6', 'night_pck_user_6', 'last_day_rch_amt_7', 'total_og_mou_9', 'av_rech_amt_data_6', 'og_others_9', 'std_og_mou_9', 'monthly_2g_9', 'arpu_3g_6', 'spl_og_mou_9', 'spl_ic_mou_9', 'std_og_t2t_mou_9', 'std_ic_t2f_mou_9', 'roam_ic_mou_9', 'count_rech_2g_6', 'loc_ic_t2f_mou_9', 'last_date_of_month_9', 'last_day_rch_amt_6', 'date_of_last_rech_7', 'std_ic_t2m_mou_9']

In [46]:
Tel_churn.drop(unique_list, axis = 1, inplace = True)

In [56]:
Tel_churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_goodphase,high_value_cstmr,churner
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,197.385,214.816,...,0,0,968,30.4,0.0,101.20,3.58,307.0,0,1.0
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,34.047,355.074,...,0,0,1006,0.0,0.0,0.00,0.00,229.0,0,0.0
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,167.690,189.058,...,0,0,1103,0.0,0.0,4.17,0.00,241.5,0,0.0
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,221.338,251.102,...,0,0,2491,0.0,0.0,0.00,0.00,270.0,0,0.0
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,261.636,309.876,...,0,0,1526,0.0,0.0,0.00,0.00,273.0,0,0.0

## Modelling

In [57]:
#Test train split
from sklearn.model_selection import train_test_split

In [58]:
# Putting feature variable to X
X = Tel_churn.drop(['churner','mobile_number'], axis=1)
X.head()

,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,...,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_goodphase,high_value_cstmr
0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,197.385,214.816,213.803,...,0,0,0,968,30.4,0.0,101.20,3.58,307.0,0
1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,34.047,355.074,268.321,...,0,0,0,1006,0.0,0.0,0.00,0.00,229.0,0
2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,167.690,189.058,210.226,...,0,0,0,1103,0.0,0.0,4.17,0.00,241.5,0
3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,221.338,251.102,508.054,...,0,0,0,2491,0.0,0.0,0.00,0.00,270.0,0
4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,261.636,309.876,238.174,...,0,0,0,1526,0.0,0.0,0.00,0.00,273.0,0

In [59]:
# Putting response variable to y
y = Tel_churn['churner']
y.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: churner, dtype: float64

In [60]:
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=100)

In [63]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler

In [62]:
scaler = StandardScaler()

X_train[] = scaler.fit_transform(X_train[])

X_train.head()

SyntaxError: invalid syntax (1837571893.py, line 3)

In [ ]:
### Checking the Churn Rate
churn = (sum(Tel_churn['Churn'])/len(Tel_churn['Churn'].index))*100
churn

In [ ]:
# Let's see the correlation matrix 
plt.figure(figsize = (20,10))        # Size of the figure
sns.heatmap(Tel_churn.corr(),annot = True)
plt.show()

In [ ]:
#Running your first model
import statsmodels.api as sm

In [ ]:
# Logistic regression model
logm1 = sm.GLM(y_train,(sm.add_constant(X_train)), family = sm.families.Binomial())
logm1.fit().summary()

In [ ]:
#Feature Selection using RFE
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [ ]:
 # running RFE with 13 variables as output
from sklearn.feature_selection import RFE
rfe = RFE(logreg, 15)            
rfe = rfe.fit(X_train, y_train)

In [ ]:
rfe.support_

In [ ]:
list(zip(X_train.columns, rfe.support_, rfe.ranking_))

In [ ]:
col = X_train.columns[rfe.support_]

In [ ]:
X_train.columns[~rfe.support_]

In [ ]:
X_train_sm = sm.add_constant(X_train[col])
logm2 = sm.GLM(y_train,X_train_sm, family = sm.families.Binomial())
res = logm2.fit()
res.summary()